
<footer>
    <div class="footer-col">
        <h4>Explore</h4>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Terms & Conditons</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>Services</h4>
        <ul>
            <li><a href="#"> Tour Package</a></li>
            <li><a href="#">Flight</a></li>
            <li><a href="#">Hotel</a></li>
            <li><a href="#">Bus</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>Useful Links</h4>
        <ul>
            <li><a href="#">Travel Guide</a></li>
            <li><a href="#">Travel Advisory</a></li>
            <li><a href="#">Visa Guide</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>Contact Us</h4>
        <div class="links">
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>


