
    <header>
        <a href="#" class="logo">Tra<span>VellO.</span></a>
        <nav>
            <ul class="nav__links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'packages' %}">Packages</a></li>
                <li><a href="{% url 'flights' %}">Flight</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
        <a href="{% url 'profile'%}" class="cta"><button>{{user.username}}</button></a>
    </header>
    
