@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.logo{
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.logo span{
    color: rgb(0, 225, 225);
}
li,a ,button{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    /* background: #150578; */
    /* background: #3943B7; */
    /* background: #0E0E52; */
    /* background: #4056F4; */
    background: #470FF4;
    /* background:rgb(24, 130, 255); */
}

.nav__links {
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #ffffff;
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1) ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}

