
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Flight Cards Section -->
{% for i in flight %}
<div class="container flight-cards">
    <!-- Flight Card -->
    <div class="flight-card">
        <div class="details">
            <div class="route">{{i.departure_airport}}-{{i.arrival_airport}}</div>
            <div class="timing">{{i.provider_name}}</div>
            <div><span class="badge">seat {{i.seat_capacity}}</span></div>
        </div>
        <div></div>
        <div><span>{{i.departure_time}}  --  {{i.arrival_time}}</span></div>
        <div class="price">  
            <span>৳{{i.price}}</span>
        </div>
        <div class="action">
            <button>BOOK NOW</button>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
