<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="./font-awesome/css/font-awesome.min.css">

    <title>Travel Website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="{%static 'home/home.css'%}">
</head>

<body>
    <section id="hero">
        <div class="hero-section-container">
            <header>
                <a href="#" class="logo">Tra<span>VellO.</span></a>
                <nav>
                    <a href="{% url 'home' %}" class="nav-items">Home</a>
                    <a href="{% url 'packages' %}" class="nav-items">Package</a>
                    <a href="{% url 'flights' %}" class="nav-items">Flight</a>
                    <a href="{% url 'bus' %}" class="nav-items">Bus</a>
                    <a href="{% url 'car' %}" class="nav-items">Car</a>
                    <a href="{% url 'my_bookings' %}" class="nav-items">My Bookings</a>
                    <a href="#" class="nav-items">Contact</a>
                </nav>
                <a href="{% url 'logout' %}" class="cta-btn">{{user.username}}, Log out</a>
            </header>
            <div class="hero-content">
                <div class="left-section">
                    <div class="left-content-container">
                        <h3>Welcome to</h3>
                        <h1>
                            <span>T</span>
                            <span class="color-change">R</span>
                            <span>A</span>
                            <span class="color-change">V</span>
                            <span>E</span>
                            <span class="color-change">L</span>
                            <span>L</span>
                            <span class="color-change">0</span>
                        </h1>
                        <P>
                            <span>Travell and have fun,</span> Whether you're dreaming of a tropical getaway, a cultural escape, or an unforgettable adventure, we’ve got you covered. Explore incredible destinations, find the best deals, and let us help you plan a journey you'll never forget. Start discovering the world today!
                        </P>
                        <a href="{% url 'packages' %}"><button class="big-cta-btn">Book Now</button></a>
                    </div>
                </div>
                <div class="right-section">
                    <div class="image-wrap">
                        <img src="/static/home/img/planet.png"
                            alt="earth">
                    </div>
                </div>
            </div>

            <div class="social-icons">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-tiktok"></i>
                <i class="fa-brands fa-youtube"></i>

            </div>

        </div>


    </section>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="./js/script.js"></script>
</body>

</html>