<!DOCTYPE html>
<html lang="en">

<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'options/options.css'%}">

</head>

<body>
    <div class="container">
        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>01</h2>
                    <h3>Flight</h3>
                    <p>Here you can find your Flight Bookings</p>
                    <a href="{% url 'view_bookings'%}">See your bookings</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>02</h2>
                    <h3>Packages</h3>
                    <p>Here you can find your Package Bookings</p>
                    <a href="{% url 'my_bookings'%}">See your bookings</a>
                </div>
            </div>
        </div>
    </div>


</body>

</html>