{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="container">
  <div class="card-grid">
    {%for i in package %}
    <a class="card" href="{% url 'package_details' i.id %}">
      <div class="background">
        <img src="{{i.image.url}}" alt="img" class="package-image">
      </div>
      <div class="content">
        <p class="category">{{i.destination}}</p>
        <h3 class="heading">{{i.title}}</h3>
      </div>
    </a>
    {% endfor%}
    <div>
</section>
{% if request.user.is_staff %}
<div class="button">
  <a class="add-package" href="{% url 'create_package' %}">Add Package</a>
</div>
{% endif %}
{% endblock %}